<%= form_tag(:action => :new) {%> <h1>Pads
<input name="pad" type="text" class="input-medium search-query" style="margin-left: 50px;" placeholder="Name">
<button type="submit" class="btn">
	Neues Pad anlegen
</button></h1>
<% } %>
<table class="table table-hover">
	<% if !@pads.nil? then%>
	<% @pads.each do |pad| %>
		<%= render 'table', pad: pad if pad.user_count > 0 %>
	<% end %>
	<% @pads.each do |pad| %>
		<%= render 'table', pad: pad if pad.user_count == 0 %>
	<% end %>
	<% end %>
</table>
<br />
